<!--版权信息-->
<div class="custome-messager" id="copyright">
    <div class="custome-messager-content" style="left: 30%; top:30%;">
        <div class="custome-messager-title">
            <h2>欢迎</h2>
        </div>
        <div class="custome-messager-body">
            <p>非常感谢您关注北方民族大学创业创新学院，触摸屏展示型系统！</p>
            <ul>
                <li>北方民族大学创业创新学院全面的了解通道</li>
                <li>最新的学院政策，学院规定和学院信息通道</li>
                <li>触摸屏方式，滑动您的手指即可飞快的体验</li>
                <li>在线留言，在线了解组织架构，寻找办事部门无缝对接</li>
            </ul>
            <p>如果您对本系统有问题或者提出宝贵的意见，联系Tel：15909581102 </p>
        </div>
        <div class="custome-messager-buttons">
            <button class="btn custome-messager-btn btn-default" data-key="yes">确定</button>
        </div>
    </div>
</div>