<script type="text/javascript" src="__PUBLIC__/2017/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/bootmetro.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/bootmetro-charms.js"></script>
<script src="__PUBLIC__/2017/js/modernizr-2.6.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/demo.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/holder.js"></script>
<script type="text/javascript" src="__PUBLIC__/2017/js/vue-2.1.10.js"></script>