<header id="nav-bar" class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <div id="header-container">
               <a id="backbutton" class="win-backbutton" href="__ROOT__">
                   <img src="">
               </a>
               <div class="start-button website-title">
                    <h2 class="accent-color">
                        {$seo['title']}
                    </h2>
                   <!-- <ul class="dropdown-menu">
                        {category name='vo'  num='10'}
                        <li><a href="{$vo.url}">{$vo.catname}</a></li>
                        {/category}
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</header>